<div class={{"item-small #{item_style}"}}>
    <div class="tz-infomation">
        <h3 class="tz-post-title"><a href="{{article.href}}">{{article.title  |truncate(80)}}</a></h3>
        <span class="meta"><a href="{{article.href}}"></a>{{article.formatted_date}}</span>
    </div>
</div>
